<div class="container my-5">
    <div class="card" style="width: 18rem;">
        <img src="../../../../assets/ven.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{addTravellerResponse.name}}</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><b>Name:</b> {{addTravellerResponse.name}}</li>
          <li class="list-group-item"><b>Email:</b> {{addTravellerResponse.email}}</li>
          <li class="list-group-item"><b>Phone:</b> {{addTravellerResponse.phone}}</li>
        </ul>
        <div class="card-body">
            <h6>Destinations</h6>
            <button class="card-link btn btn-primary">
                #Paris
            </button>
            <button class="card-link btn btn-primary">
                #Montreal
            </button>
        </div>
      </div>
</div>